h1= title

#container
  a#undo(href='#undo') <
  a#redo(href='#redo') >

  .clearfix

  #chessboard

#choose-piece
  .pieces
    .queen &#9813;
    .rook &#9814;
    .bishop &#9815;
    .knight &#9816;

    .clearfix
