!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(data-main='/javascripts/main', src='/javascripts/libs/require.js')
  body!= body
