body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.clearfix {
  clear: both;
}

#container {
  margin: 0 auto;
  width: 802px;
}

#chessboard {
  background-color: #777;
  height: 800px;
  border: 1px solid #000;
}

.field {
  height: 100px;
  width: 100px;
}

.col {
  float: left;
}
.col:nth-child(2n) .field:nth-child(2n) {
  background-color: #eee;
}
.col:nth-child(2n+1) .field:nth-child(2n+1) {
  background-color: #eee;
}

.king.w:before { content: '\2654'; }
.king.b:before { content: '\265A'; }
.queen.w:before { content: '\2655'; }
.queen.b:before { content: '\265B'; }
.rook.w:before { content: '\2656'; }
.rook.b:before { content: '\265C'; }
.bishop.w:before { content: '\2657'; }
.bishop.b:before { content: '\265D'; }
.knight.w:before { content: '\2658'; }
.knight.b:before { content: '\265E'; }
.pawn.w:before { content: '\2659';}
.pawn.b:before { content: '\265F';}

.chessman {
  cursor: pointer;
  font-size: 80px;
  text-align: center;
  text-shadow: #000 0px 0px 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chessman.b { color: #000; }
.chessman.w { color: #fff; }

.chessman.active {
  text-shadow: #06c 0px 0px 10px;
}

#choose-piece {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#choose-piece .pieces {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  width: 400px;
  height: 100px;
  padding: 0 50px;
  border-radius: 0  0 20px 20px;
}
#choose-piece .queen, #choose-piece .rook, #choose-piece .bishop, #choose-piece .knight {
  float: left;
  width: 100px;
  text-align: center;
  font-size: 80px;
  cursor: pointer;
}

#undo, #redo {
  padding: 5px;
  display: block;
  margin: 5px;
  color: #777;
  box-shadow: -1px -1px 5px #eee inset;
  border: 1px solid #ccc;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-decoration: none;
  text-align: center;
}
#undo {
  float: left;
}
#redo {
  float: right;
}
